.paragraph {
  text-align: center;
  margin-top: 4rem;
  margin-right: 1.5rem;
}

.btn {
  margin-top: 15px;
  margin-left: 10px;
}

.root {
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-wrap: nowrap;
}

.textField {
  width: 80%;
}